@import "tailwindcss";

@theme inline {
  --color-cream: #f4e9db;
  --color-midnight: #010120;
  --color-webflow-blue: #146ef5;
  --color-lavender: #bdbbff;
}

body {
  background-color: #010120;
  color: white;
  font-family: Inter, Helvetica, system-ui, sans-serif;
}

@layer utilities {
  .animate-gradient-x {
    background-size: 200% 200%;
    animation: gradient-x 5s ease infinite;
  }

  @keyframes gradient-x {
    0%, 100% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
  }
}
