@import "tailwindcss";

@theme inline {
  --color-cream: #f4e9db;
  --color-midnight: #010120;
  --color-webflow-blue: #146ef5;
  --color-lavender: #bdbbff;
}

body {
  background-color: #010120;
  color: white;
  font-family: Inter, Helvetica, system-ui, sans-serif;
}
